#aboutMe {
    display: flex;
    align-items: center;
    gap: 80px;
}

#photo {
    width: fit-content;
}
#photo img {
    min-width: 300px;
}


@media (max-width: 1000px){
    #aboutMe {
        flex-direction: column;
    }
}