#certGrid {
    display: grid; 
    grid-template-columns: auto auto auto;
    gap: 20px; 
}

.cert {
    border: solid black 2px;
    padding: 20px 20px 15px 20px;
}
.cert > img {
    margin-bottom: 10px;
    max-width: 100%;
    box-shadow: black 0px 0px 10px;
}
.cert > div {
    display: flex; 
    justify-content: space-between;
}
.cert > div > p {
    margin-top: 0px;
    font-size: 1.1rem;
}

@media (max-width: 1000px){
    #certGrid {
        grid-template-columns: auto auto;
    }
}
@media (max-width: 600px){
    #certGrid {
        grid-template-columns: auto;
    }
}