/* FONT IMPORTS */

@font-face {
    src: url("fonts/Brigends Expanded.otf");
    font-family: Brigends;
}
@font-face {
    src: url("fonts/Moderniz.otf");
    font-family: Moderniz;
}
@font-face {
    src: url("fonts/TT Travels Trial Medium.otf");
    font-family: Travels;
}


/* SITE OREINTATION */

html {
    background-color: rgb(255, 255, 255);
}
body {
    margin: 0px;
}

section {
    /* border: blue dotted 1px; */
    width: 80vw;
    margin: auto;
}

/* TEXT ELEMENTS */

h1, h2, h3, h4 {
    font-family: Moderniz;
    margin: 0px;
}
h1 {
    font-size: 7rem;
}
h2 {
    font-size: 4rem;
    line-height: 6rem;
}
h3 {
    font-size: 2.5rem;
}
h4 {
    font-size: 1.7rem;
}

p {
    margin: 6px 0px 0px 0px;
    font-family: Overpass;
    font-size: 1.4rem;
    line-height: 1.7rem;
}

div.break {
    margin: 320px;
}

/* OTHER HMTL ELEMENTS */
/* form & textarea elts are in contactMe.css */

a {
    text-decoration: none;
    /* the properties below are needed when <a> encases <button>
    otherwise the hyperlink will overextend the bounds of <button> 
    this only occurs when the inner <button> is using display:flex
    this appears to be a bug */
    display: flex; 
    width: min-content;
}
a:visited {
    color: inherit;
}

button {
    display: flex; 

    width: max-content;
    
    border: transparent solid 2px;
    background-color: black;
    padding: 0px 10px 0px 10px;
    margin: 0px;
    
    font-weight: bold;
    color: white;

    transition: all .2s ease-in-out;
}
button:hover {
    border: black solid 2px;
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    backdrop-filter: blur(15px);
}

button img {
    width: 35px;
    margin-right: 5px;
}
button:hover img {
    filter: invert(100%);
}

.container {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

/* DEBUGGER CLASSNAMES */

.bbb {
    border: red dotted 4px;
}
