
header {
    position: sticky;
    top: 0;
}
.sideNav {
    width: 100wh;
    height: 30px;
    padding: 10px; 

    display: flex;
    justify-content: flex-end;
    gap: .5em;

    background: linear-gradient(to right, white, black)
}
.sideNav img {
    width: fit-content;
    height: 100%;
}
