#hero {
    display: grid;
    grid-area: "x";
    height: 100vh;

    overflow: hidden;
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

#hero > * {
    position: relative;
    grid-area: x; 
}

#name {
    display: flex;
    justify-content: end;
    align-items: end;
    
    width: 75vw;
    height: 70vh;
}
#name h1{
    text-align: end;
    margin: 0px 80px 40px 0px;
    
    color: white;
    mix-blend-mode: difference;
}


#horizontalMarquee {
    top: 70vh;
    white-space: nowrap;
    animation: marqueeRightLeft 100s linear infinite;
}
#horizontalMarquee > * {
    display: inline;
} 
@keyframes marqueeRightLeft {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

#verticalMarquee {
    left: 75vw;
    white-space: nowrap;
    animation: marqueeUpDown 80s linear infinite;
}
#verticalMarquee h2 {
    white-space: nowrap;
    writing-mode: sideways-rl;
    text-orientation: upright;
}
@keyframes marqueeUpDown {
  0% {
    transform: translate(0, -50%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.outlined {
    color: transparent;
    -webkit-text-stroke: 2.5px black;
}
.thin {
    -webkit-text-stroke: .1px black;
}
