#skillList {
    display: flex; 
    flex-wrap: wrap;
    /* justify-content: center; */

    gap: 10px;
}

#skillList > div {
    display: flex;

    border: solid black 2px;
    /* background-color: lightgray; */
    
    padding: 5px 12px 5px 12px;
}
#skillList img {
    /* border: solid red 2px; */
    max-width: inherit;
    max-height: inherit;
}
#skillList span {
    display: flex;
    justify-content: center;
    align-items: center;

    /* border: solid green 2px; */
    max-width: 30px;
    max-height: 30px;
    margin-right: 10px;
}

#skillList p {
    white-space: nowrap;
}