#aboutMe {
    display: flex;
    align-items: center;
    gap: 80px;
}
#aboutMe > img {
    width: 350px; 
}

@media (max-width: 1000px){
    #aboutMe {
        flex-direction: column;
    }
    #aboutMe > img {
        width: 50%;
    }
}
@media (max-width: 450px){
    #aboutMe > img {
        width: 80%;
    }
}