#contactGrid {
    display: grid; 
    grid-template-columns: min-content auto;
    grid-gap: 10px;
    width: 45vw;
    min-width: 700px;

    > label > p {
        margin-top: 5px;
        white-space: nowrap;
        text-align: right;
        font-weight: bold;
    }
}

input, textarea {
    border: solid black 2px;
    padding: 3px 5px 0px 5px;

    font-family: Overpass;
    font-size: 1.2rem;
    line-height: 1.4rem;
}
textarea {
    resize: none;
    height: 180px;
}

#copyEmail {
    display: inline;
    padding: 5px 7px 0px 7px;
    background-color: lightgrey;
}
#copyEmail:hover {
    text-decoration: underline;
    cursor: pointer;
}


@media (max-width: 1000px){
    #contactGrid {
        grid-template-columns: auto;
        grid-gap: 0px;
        width: 100%;
        /* placeholder value below */
        min-width: 0;

        > label > p {
            margin-top: 15px;
            text-align: left;
        }
        button {
            margin-top: 15px;
        }
    }
    input, textarea {
        font-size: 1.1rem;
        line-height: 1.3rem;
    }
}
@media (max-width: 600px){
    input, textarea {
        font-size: 1rem;
        line-height: 1.2rem;
    }
}
