#creative {
    margin: 100px auto 100px auto;
    
    h2{
        color: white;
        mix-blend-mode: difference;
    }
    > #skillList > div {
        backdrop-filter: blur(20px);
    }
}

#creativeTextBackdrop {
    width: max-content;
    padding: 10px 20px 10px 20px;
    backdrop-filter: blur(20px); 
}

@media (max-width: 600px){
    #creativeTextBackdrop {
        width: auto;
    }
}
