footer {
    padding: 20px;
    background-color: black;
}

#footerFrame {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

#socials {
    display: grid; 
    grid-template-columns: auto auto;
    max-width: max-content;
    column-gap: 50px;

    a {
        display: flex;
        column-gap: 10px;
        width: min-content;
    }
    h4 {
        transition: all .2s ease-in-out;
    }
    a:hover h4 {
        color: transparent;
        -webkit-text-stroke: 1.5px white;
    }

    img {
        height: 45px;
    }
    h4 {
        margin-top: 8px;
        color: white;
        text-align: right;
    }
}


#siteIcon {
    max-width: 80px; 
    max-height: 80px;
}
#siteIcon:hover {
    cursor: pointer;
}

#footerInfo {
    display: flex; 
    justify-content: space-between;

    p:nth-child(2){
        text-align: end;
    }
}


@media (max-width: 1000px){
    #socials {
        grid-template-columns: auto;

        img {
            height: 35px;
        }        
    }
    #siteIcon {
        max-width: 65px; 
        max-height: 65px;
    }
    #footerInfo {
        flex-direction: column;
        p:nth-child(2){
            text-align: left;
        }
    }
}
@media (max-width: 450px){
    #socials img {
        height: 30px;
    }
    #siteIcon {
        max-width: 55px; 
        max-height: 55px;
    }
}
