header {
    z-index: 1;
    position: sticky; 
    top: 40px;
    margin-left: 40px;
}

#menuContainer {
    display: flex; 
    align-items: center;
    gap: .8em;

    padding: 10px;
    width: 45px;

    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    border: black solid 2px;

    transition: all .3s ease-in-out;

    p {
        white-space: nowrap;
        color: inherit;
    }
}
#menuContainer:hover {
    padding: 10px 0px 10px 10px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: transparent solid 2px;
}


@media (max-width: 1000px){
    #menuContainer {
        flex-direction: column;
        align-items: start;
        height: 35px;
    }
    #menuContainer:hover {
        height: 330px;
    }
}
@media (max-width: 700px){
    #menuContainer:hover {
        height: 310px;
    }
}
@media (max-width: 450px){
    header {
        top: 20px;
        margin-left: 20px;
    }
}