#hero {
    display: grid;
    grid-area: "x";
    height: 100vh;

    overflow: hidden;
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);

    > * {
        position: relative;
        grid-area: x; 
    }

    > img {
        min-width: 100vw;
    }
}

#name {
    display: flex;
    justify-content: end;
    align-items: end;
    
    width: 75vw;
    height: 70vh;

    h1{
        text-align: end;
        margin: 0px 80px 40px 0px;
        
        color: white;
        mix-blend-mode: difference;
    }    
}

#hMarq {
    top: 70vh;
    white-space: nowrap;
    animation: marqRight2Left 100s linear infinite;
    
    * {
        display: inline;
    } 
}
@keyframes marqRight2Left {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

#vMarq {
    left: 75vw;
    white-space: nowrap;
    animation: marqTop2Bottom 80s linear infinite;

    h2 {
        white-space: nowrap;
        writing-mode: sideways-rl;
        text-orientation: upright;
    }
}
@keyframes marqTop2Bottom {
    0% {
        transform: translate(0, -50%);
    }
    100% {
        transform: translate(0, 0);
    }
}

.outlined {
    color: transparent;
    -webkit-text-stroke: 2.5px black;
}
.thin {
    -webkit-text-stroke: .1px black;
}


@media (max-width: 1000px), (min-height: 1000px){
    #hero > img {
        min-height: 100vh;
    }
    #name h1{
        text-align: end;
        margin: 0px 50px 40px 0px;
    }
    .outlined {
        -webkit-text-stroke: 1.5px black;
    }
}

@media (max-width: 450px){
    #name h1{
        text-align: end;
        margin: 0px 30px 30px 0px;
    }
    .outlined {
        -webkit-text-stroke: 1px black;
    }
}
